/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.top-buffer { margin-top:10px; }
.row-padded {
    padding: 15px;
    background-color: #F7F7F7;
    /*border: 1px solid #DDD;*/
}
.line-padded{
    background-color: DARKOLIVEGREEN;
}

.row-even {
    background-color: rgba(132, 151, 147, 0.61);
}
.row-odd {
    background-color:#BDE3FB;
}

.col_padded {
    padding-top:30px;
    text-align: right;
}
.font-white{
    color: #fff;
    text-align: center;
}

.text-center{
    text-align-last: center;
}

.input-width{
    width: 500px;
}
.notice-ft{
    color: #ff0000;
    font-weight: bold;
}
.remove-padding{
    padding-left:0;
}

.bottom-margin{margin-bottom: 30px;}

.top-layer{
    z-index: 10;
}

.top-survey-buffer { margin-top:20px; }
